body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.gallery-container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
    background-color: rgba(255, 255, 255, 0);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.gallery-item {
    flex: 1 1 calc(33.333% - 15px); /* Colunas e espaçamento entre as imagens */
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transition: filter 0.3s; /* Desfoque ao passar o mouse */
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 200px; 
    object-fit: cover;
    transition: filter 0.3s; 
}

.gallery-item:hover img {
    filter: blur(5px); /* Desfoque ao passar o mouse */
}

.gallery-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .gallery-item {
        flex: 1 1 calc(50% - 15px);
    }
}

@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 100%; 
    }
}

@media (max-width: 480px) {
    .gallery-caption {
        font-size: 14px;
    }

    .gallery-item img {
        max-height: 150px;
    }
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    background-color: transparent;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    color: #ccc;
    text-align: center;
    padding: 10px 0;
}
